body{
    font-family: 'Poppins', sans-serif;
    margin: 0%;
    background-color: white;
}
h1{
    font-size: 60px;
}
.orng-clr{
    color: red;
}
h2{
    font-size: 40px;
}
.flexible-container{
    display: flex;
    margin-bottom: 100px;
}
.half-width{
    width: 80%;
    padding-left: 5%;
    padding-top: 3%;
}
.half-width img{
    width: 70%;
    padding-left: 28%;
    padding-top: 4%;
}
.link-button{
    text-decoration: none;
    background-color: orange;
    background-image: linear-gradient(orange, orangered);
    padding: 10px 20px;
    border-radius: 5px;
    color: white;
}
.top-banner{
    background-image: url(images/1_ZhuqSg8Jmz4p8H6X5U1uzQ.png);
    background-repeat: no-repeat;
    max-width: 100%;
    height: auto;
    margin-top: 4%;
}
.second-part{
    background-image:url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
    margin: 0%;
}
.experience-item{
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 20px;
    box-shadow: 10px 10px 40px gray;
    border-radius: 30px;
    border:1px solid black;
    
}
.experience-area{
    background-image: url(images/city.png);
    background-repeat: no-repeat;
    background-position: bottom;
}
footer p{
    text-align: center;
}