body{
    font-family: 'Poppins', sans-serif;
    margin: 0%;
}
h1{
    font-size: 65px;
}
.orng-clr{
    color: orangered;
}
h2{
    font-size: 30px;
}
section{
    display: flex;
    margin-bottom: 100px;
}
.half-width{
    width: 80%;
    padding-left: 5%;
    padding-top: 2%;
}
.half-width img{
    width: 70%;
    padding-left: 28%;
    padding-top: 10%;
}
.link-button{
    text-decoration: none;
    background-color: orange;
    background-image: linear-gradient(orange, orangered);
    padding: 10px 20px;
    border-radius: 5px;
    color: white;
}
.top-banner{
    background-image: url(images/1_ZhuqSg8Jmz4p8H6X5U1uzQ.png);
    background-repeat: no-repeat;
    max-width: 100%;
    height: auto;
    margin-top: 2%;
}
.second-part{
    background-image:url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
    margin: 0%;
}